USE [master]
GO
/****** Object:  Database [KoiVeterinaryServiceCenter]    Script Date: 10/17/2024 6:50:12 PM ******/
CREATE DATABASE [KoiVeterinaryServiceCenter]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KoiVeterinaryServiceCenter', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KoiVeterinaryServiceCenter.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KoiVeterinaryServiceCenter_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KoiVeterinaryServiceCenter_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KoiVeterinaryServiceCenter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KoiVeterinaryServiceCenter]
GO
USE [KoiVeterinaryServiceCenter]
GO
/****** Object:  Sequence [dbo].[feid]    Script Date: 10/17/2024 6:50:13 PM ******/
CREATE SEQUENCE [dbo].[feid] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [KoiVeterinaryServiceCenter]
GO
/****** Object:  Sequence [dbo].[fishid]    Script Date: 10/17/2024 6:50:13 PM ******/
CREATE SEQUENCE [dbo].[fishid] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [KoiVeterinaryServiceCenter]
GO
/****** Object:  Sequence [dbo].[invoiceid]    Script Date: 10/17/2024 6:50:13 PM ******/
CREATE SEQUENCE [dbo].[invoiceid] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [KoiVeterinaryServiceCenter]
GO
/****** Object:  Sequence [dbo].[orderid]    Script Date: 10/17/2024 6:50:13 PM ******/
CREATE SEQUENCE [dbo].[orderid] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [KoiVeterinaryServiceCenter]
GO
/****** Object:  Sequence [dbo].[seid]    Script Date: 10/17/2024 6:50:13 PM ******/
CREATE SEQUENCE [dbo].[seid] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [KoiVeterinaryServiceCenter]
GO
/****** Object:  Sequence [dbo].[vetid]    Script Date: 10/17/2024 6:50:13 PM ******/
CREATE SEQUENCE [dbo].[vetid] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[feedbacks]    Script Date: 10/17/2024 6:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedbacks](
	[feedback_id] [varchar](255) NOT NULL,
	[comment] [varchar](255) NULL,
	[feedback_date_time] [datetime2](6) NULL,
	[rating] [real] NULL,
	[invoiceid] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fish]    Script Date: 10/17/2024 6:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fish](
	[fishid] [varchar](255) NOT NULL,
	[userid] [varchar](255) NOT NULL,
	[describe] [varchar](255) NULL,
	[length] [real] NULL,
	[month] [int] NOT NULL,
	[weight] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[fishid] ASC,
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice]    Script Date: 10/17/2024 6:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice](
	[invoiceid] [varchar](255) NOT NULL,
	[inv_date] [datetime2](6) NULL,
	[total] [int] NOT NULL,
	[orderid] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[invoiceid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 10/17/2024 6:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[orderid] [varchar](255) NOT NULL,
	[serviceid] [varchar](255) NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderid] ASC,
	[serviceid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 10/17/2024 6:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[orderid] [varchar](255) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[description] [nvarchar](255) NULL,
	[order_date] [date] NULL,
	[status] [varchar](255) NULL,
	[slot] [int] NOT NULL,
	[expenseid] [varchar](255) NOT NULL,
	[userid] [varchar](255) NOT NULL,
	[veterinarianid] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[orderid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 10/17/2024 6:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[roleid] [varchar](255) NOT NULL,
	[title] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[roleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 10/17/2024 6:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[serviceid] [varchar](255) NOT NULL,
	[max_quantity] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [real] NULL,
	[type] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[serviceid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[slots]    Script Date: 10/17/2024 6:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[slots](
	[slot] [int] NOT NULL,
	[end_time] [time](7) NULL,
	[start_time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[slot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[travel_expenses]    Script Date: 10/17/2024 6:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[travel_expenses](
	[expenseid] [varchar](255) NOT NULL,
	[fee] [int] NOT NULL,
	[end_location] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[expenseid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/17/2024 6:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[userid] [varchar](255) NOT NULL,
	[address] [nvarchar](255) NULL,
	[email] [varchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[password] [varchar](255) NOT NULL,
	[phone_number] [varchar](255) NOT NULL,
	[roleid] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[veterinarians]    Script Date: 10/17/2024 6:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[veterinarians](
	[veterinarianid] [varchar](255) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[status] [bit] NOT NULL,
	[userid] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[veterinarianid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[fish] ([fishid], [userid], [describe], [length], [month], [weight]) VALUES (N'F1', N'customer', N'string', 1, 3, 1)
INSERT [dbo].[fish] ([fishid], [userid], [describe], [length], [month], [weight]) VALUES (N'F2', N'customer', N'string', 1, 3, 1)
GO
INSERT [dbo].[roles] ([roleid], [title]) VALUES (N'C', N'Customer')
INSERT [dbo].[roles] ([roleid], [title]) VALUES (N'M', N'Manager')
INSERT [dbo].[roles] ([roleid], [title]) VALUES (N'S', N'Staff')
GO
INSERT [dbo].[services] ([serviceid], [max_quantity], [name], [price], [type]) VALUES (N'S001', 1, N'Kiểm tra sức khỏe cá Koi', 700000, N'Điều trị')
INSERT [dbo].[services] ([serviceid], [max_quantity], [name], [price], [type]) VALUES (N'S002', 1, N'Chăm sóc lông vây', 1050000, N'Chăm sóc')
INSERT [dbo].[services] ([serviceid], [max_quantity], [name], [price], [type]) VALUES (N'S003', 1, N'Điều trị bệnh ký sinh trùng', 1400000, N'Điều trị')
GO
INSERT [dbo].[slots] ([slot], [end_time], [start_time]) VALUES (1, CAST(N'08:30:00' AS Time), CAST(N'07:00:00' AS Time))
INSERT [dbo].[slots] ([slot], [end_time], [start_time]) VALUES (2, CAST(N'10:00:00' AS Time), CAST(N'08:30:00' AS Time))
INSERT [dbo].[slots] ([slot], [end_time], [start_time]) VALUES (3, CAST(N'11:30:00' AS Time), CAST(N'10:00:00' AS Time))
GO
INSERT [dbo].[travel_expenses] ([expenseid], [fee], [end_location]) VALUES (N'E0', 0, N'Online')
INSERT [dbo].[travel_expenses] ([expenseid], [fee], [end_location]) VALUES (N'E1', 250000, N'Quận 1')
INSERT [dbo].[travel_expenses] ([expenseid], [fee], [end_location]) VALUES (N'E10', 295000, N'Quận 10')
GO
INSERT [dbo].[users] ([userid], [address], [email], [name], [password], [phone_number], [roleid]) VALUES (N'admin', NULL, N'admin@gmail.com', N'admin', N'$2a$10$JloTxIHCulOhHpJO1wxJPeAFEDmORwf5oC31YCMATZPpc2PM8IZ2q', N'0123456789', N'M')
INSERT [dbo].[users] ([userid], [address], [email], [name], [password], [phone_number], [roleid]) VALUES (N'adminVuNdh1551@fpt', N'*', N'vundhse181551@fpt.edu.vn', N'Vũ', N'$2b$12$sc1VlYcsSsV.OAjfRK8wPOuU.Kms4VN/h63sL3JrPiJ3ZU.qcGj8.', N'782676284', N'M')
INSERT [dbo].[users] ([userid], [address], [email], [name], [password], [phone_number], [roleid]) VALUES (N'anHq896^1', N'Quận 3, TP.HCM', N'anhq7826@gmail.com', N'Bác sĩ Hoàng Quốc An', N'$2b$12$JP4AXPeXO6hpfnRU9QNn3.WdDSO0Clu6DifAmaBSyC6FyksuOGrcy', N'738926762', N'V')
GO
INSERT [dbo].[veterinarians] ([veterinarianid], [description], [status], [userid]) VALUES (N'V001', N'Kinh nghiệm: 5 năm điều trị thú cưng. Học vấn: Đại học Nông Lâm TP.HCM. Chứng chỉ: Thú y cấp 3.', 1, N'vHmVinh040@nmPhv')
INSERT [dbo].[veterinarians] ([veterinarianid], [description], [status], [userid]) VALUES (N'V002', N'Kinh nghiệm: 3 năm tại phòng khám thú y quốc tế. Học vấn: Đại học Cần Thơ. Chứng chỉ: Chăm sóc thú cưng chuyên sâu.', 1, N'trangtttSe1832@893')
INSERT [dbo].[veterinarians] ([veterinarianid], [description], [status], [userid]) VALUES (N'V003', N'Kinh nghiệm: 2 năm trợ lý thú y. Học vấn: Đại học Nông nghiệp Hà Nội. Chứng chỉ: Sơ cấp thú y.', 1, N'huyNQse1815@890')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK3sadl2d3torivwom8qr15fd9p]    Script Date: 10/17/2024 6:50:13 PM ******/
ALTER TABLE [dbo].[feedbacks] ADD  CONSTRAINT [UK3sadl2d3torivwom8qr15fd9p] UNIQUE NONCLUSTERED 
(
	[invoiceid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKcde6dly85qdehn04xgjf3te43]    Script Date: 10/17/2024 6:50:13 PM ******/
ALTER TABLE [dbo].[invoice] ADD  CONSTRAINT [UKcde6dly85qdehn04xgjf3te43] UNIQUE NONCLUSTERED 
(
	[orderid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKnodjpaox51kclukt7yi0hf6qf]    Script Date: 10/17/2024 6:50:13 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKnodjpaox51kclukt7yi0hf6qf] ON [dbo].[roles]
(
	[title] ASC
)
WHERE ([title] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKqknbunfghsa9rumkib8y353ox]    Script Date: 10/17/2024 6:50:13 PM ******/
ALTER TABLE [dbo].[veterinarians] ADD  CONSTRAINT [UKqknbunfghsa9rumkib8y353ox] UNIQUE NONCLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[feedbacks]  WITH CHECK ADD  CONSTRAINT [FKklw233hsipt594mnj2stiugh6] FOREIGN KEY([invoiceid])
REFERENCES [dbo].[invoice] ([invoiceid])
GO
ALTER TABLE [dbo].[feedbacks] CHECK CONSTRAINT [FKklw233hsipt594mnj2stiugh6]
GO
ALTER TABLE [dbo].[fish]  WITH CHECK ADD  CONSTRAINT [FKl7dfj6s81ruupplqtgb0ef3l5] FOREIGN KEY([userid])
REFERENCES [dbo].[users] ([userid])
GO
ALTER TABLE [dbo].[fish] CHECK CONSTRAINT [FKl7dfj6s81ruupplqtgb0ef3l5]
GO
ALTER TABLE [dbo].[invoice]  WITH CHECK ADD  CONSTRAINT [FKh5woett7bym1d45rjms12lcke] FOREIGN KEY([orderid])
REFERENCES [dbo].[orders] ([orderid])
GO
ALTER TABLE [dbo].[invoice] CHECK CONSTRAINT [FKh5woett7bym1d45rjms12lcke]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK86hc96svkn8jqkxm34ig79tcr] FOREIGN KEY([serviceid])
REFERENCES [dbo].[services] ([serviceid])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK86hc96svkn8jqkxm34ig79tcr]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FKh35b1ljeu4440iie9psw8a7yt] FOREIGN KEY([orderid])
REFERENCES [dbo].[orders] ([orderid])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FKh35b1ljeu4440iie9psw8a7yt]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK90495apas76xcxitsm5pt8exw] FOREIGN KEY([expenseid])
REFERENCES [dbo].[travel_expenses] ([expenseid])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK90495apas76xcxitsm5pt8exw]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKnugc1dfi5l3enwwbab6uraq3e] FOREIGN KEY([slot])
REFERENCES [dbo].[slots] ([slot])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKnugc1dfi5l3enwwbab6uraq3e]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKop4fhvylu0vtmoxp6vg5kb782] FOREIGN KEY([veterinarianid])
REFERENCES [dbo].[veterinarians] ([veterinarianid])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKop4fhvylu0vtmoxp6vg5kb782]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKpnm1eeupqm4tykds7k3okqegv] FOREIGN KEY([userid])
REFERENCES [dbo].[users] ([userid])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKpnm1eeupqm4tykds7k3okqegv]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FKgrhs0suhl8cbodxn47xadxp94] FOREIGN KEY([roleid])
REFERENCES [dbo].[roles] ([roleid])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FKgrhs0suhl8cbodxn47xadxp94]
GO
ALTER TABLE [dbo].[veterinarians]  WITH CHECK ADD  CONSTRAINT [FKi3mhro8qchn9mos1wht5wf04b] FOREIGN KEY([userid])
REFERENCES [dbo].[users] ([userid])
GO
ALTER TABLE [dbo].[veterinarians] CHECK CONSTRAINT [FKi3mhro8qchn9mos1wht5wf04b]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([status]='done' OR [status]='cancel' OR [status]='accept' OR [status]='pending'))
GO
USE [master]
GO
