.page-container {
    min-height: 100vh;
    display: flex;
}

.siderbar-container {
    display: flex;
    flex-direction: column;
    height: auto; /* Để sidebar tự điều chỉnh theo nội dung */
    flex-shrink: 0;
    min-width: 200px; /* Độ rộng tối thiểu cho sidebar */
    max-width: 300px; /* Độ rộng tối đa cho sidebar, điều chỉnh theo ý thích */
    width: auto; /* Để độ rộng tự điều chỉnh dựa trên nội dung */
}

.component-container {
    border: 5px;
    width: 90%;
}

.sidebar {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    height: 100%; /* Sidebar sẽ kéo dài theo content */
    position: sticky;
    top: 0; /* Giữ sidebar ở vị trí cố định khi cuộn */
    overflow-y: auto; /* Thêm cuộn nếu nội dung của sidebar quá dài */
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: turquoise;
    padding: 15px;
}

.logo-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    background: rgba(28, 17, 41, 0.88);
}
